* {
    padding: 0px;
    margin: 0px;
}

section {
    height: 600px;
}

.imagem {
    background-size: cover;
    background-attachment: fixed;
}

#img01 {
    background-image: url('../src/montainDark.jpg');
    background-position: right center;
}

#title {
    padding-top: 100px;
    font-size: 3em;
    color: white;
    text-align: center;
}

#myPhoto {
    position: fixed;
    height: 300px;
    border-radius: 50%;
    left: 50%;
    top: 25%;
    transform: translate(-100px, -100px);
}