body {
    scroll-behavior: smooth;
}

header {
    box-shadow: 0 4px 2px -2px gray;
}

.my-photo {
    width: 150px;
    height: 150px;
    object-fit: cover;
    border: 4px solid #00e0ff;
}

h1, h2 {
    color: #00e0ff;
}

p, li {
    color: #686868;
}

a {
    color: #00e0ff;
}

a:hover {
    text-decoration: underline;
}

@media (max-width: 768px) {
    .my-photo {
        width: 100px;
        height: 100px;
    }
}
