/* * {
    padding: 0px;
    margin: 0px;
} */
.navbar-toggler-icon {
    margin: auto;
}

.bi {
    font-size: 2em;
}
.bi:hover {
    color: #053d81;
    
}

a {
    text-decoration: none;
    color: black;
}

 /* i {
    font-display: ;
    color: #053d81;
 }   */